<div id="container">
  <ion-card>
    <ion-card-header>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row text-center>
          <ion-col>
            <strong>{{ name }}</strong><br>
            <ion-label><b>Your Location: </b>({{userLocation?.latitude ? (userLocation?.longitude ? userLocation?.latitude + ", " + userLocation?.longitude : "") : ""}})</ion-label><br>
              <ion-button (click) = "askForGeolocationPermission()">Allow GPS</ion-button><br>
              <div *ngIf="apiLoaded | async" >
                <google-map [center]="center"
                [zoom]="zoom" class="ion-no-padding"><map-marker *ngFor="let markerPosition of markerPositions"
                  [position]="markerPosition"
                  [options]="markerOptions"></map-marker></google-map>
              </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>